$break-large: 768px;

.SubHeadingTextStyle {
  text-align: center;
  font-weight: 600;
  font-style: 'tahoma';
  font-weight: 500;
}

.HomeContainer {
  &_heading {
    text-align: center;
    font-weight: 600;
  }
  &_subHeading {
    @extend .SubHeadingTextStyle;
  }
}

.TimeCalculator {
  margin-top: 2%;
  font-size: larger;
  @extend .SubHeadingTextStyle;
}

.Button {
  &_find {
    margin-top: 2%;
    font-size: larger;
    @extend .SubHeadingTextStyle;
  }
}

@media only screen and (max-width: $break-large) {
  .planets_and_vehicle_select {
    flex-basis: auto;
    flex-flow: column !important;
    width: 100% !important;
    align-items: center !important;
  }
}
