.SubHeadingTextStyle {
  text-align: center;
  font-weight: 600;
  font-style: 'tahoma';
  font-weight: 500;
}

.HomeContainer {
  &_heading {
    text-align: center;
    font-weight: 600;
  }
  &_subHeading {
    @extend .SubHeadingTextStyle;
  }
}

.TimeCalculator {
  margin-top: 2%;
  font-size: larger;
  @extend .SubHeadingTextStyle;
}

.Button {
  &_find {
    margin-top: 2%;
    font-size: larger;
    @extend .SubHeadingTextStyle;
  }
}
